@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/dewi/regular-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/dewi/regular-latin-extended.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/dewi/regular-cyrillic.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/dewi/bold-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/dewi/bold-latin-extended.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Dewi';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/dewi/bold-cyrillic.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: 'Dewi';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/dewi/italic-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: 'Dewi';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/dewi/italic-latin-extended.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Dewi';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/dewi/italic-cyrillic.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: 'Dewi Expanded';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/dewi-expanded/regular-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: 'Dewi Expanded';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/dewi-expanded/regular-latin-extended.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Dewi Expanded';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/dewi-expanded/regular-cyrillic.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: 'Dewi Expanded';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/dewi-expanded/bold-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: 'Dewi Expanded';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/dewi-expanded/bold-latin.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Dewi Expanded';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(fonts/dewi-expanded/bold-cyrillic.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

@font-face {
    font-family: 'Rostin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/rostin/regular-latin.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: 'Rostin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/rostin/regular-latin-extended.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: 'Rostin';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(fonts/rostin/regular-cyrillic.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116
}

*, ::after, ::before {
    box-sizing: border-box
}

:root {
    --basic-black: #000000;
    --basic-dark: #273238;
    --basic-semi-light: #696969;
    --basic-neutral: #b1b3b6;
    --basic-light: #e9eaeb;
    --basic-white: #ffffff;
    --special-extra-dark: #386d9b;
    --special-dark: #3b84bb;
    --special-dark-10a: rgb(59 132 187 / 0.1);
    --special-semi-dark: #42a0da;
    --special-neutral: #61afb4;
    --special-semi-light: #81c36d;
    --special-light: #afe63a;
    --special-extra-light: #c6f523
}

.grid::after {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    pointer-events: none;
    --grid-sides: 16px;
    --grid-gutter: 16px;
    --grid-columns: 4;
    --grid-column-width: calc(
            (100% - var(--grid-gutter) * var(--grid-columns)) / var(--grid-columns)
    );
    border: solid transparent;
    border-width: 0 calc(var(--grid-sides) - var(--grid-gutter) / 2);
    background-image: repeating-linear-gradient(to right, transparent 0, transparent calc(var(--grid-gutter) / 2), rgb(255 0 0/.1) calc(var(--grid-gutter) / 2), rgb(255 0 0/.1) calc(var(--grid-column-width) + var(--grid-gutter) / 2), transparent calc(var(--grid-column-width) + var(--grid-gutter) / 2), transparent calc(var(--grid-column-width) + var(--grid-gutter)));
    background-repeat: no-repeat
}

@media (min-width: 736px) {
    .grid::after {
        --grid-sides: 24px;
        --grid-gutter: 16px;
        --grid-columns: 8
    }
}

@media (min-width: 1008px) {
    .grid::after {
        --grid-sides: 32px;
        --grid-gutter: 16px;
        --grid-columns: 12
    }
}

.page {
    background-color: var(--basic-white);
    color: var(--basic-black);
    line-height: 1.5;
    font-family: 'Dewi', sans-serif
}

.page__body {
    margin: 0 auto;
    display: flex;
    min-height: 100vh;
    flex-direction: column
}

.header {
    display: grid;
    padding: 16px;
    background-color: white
}

@media (min-width: 737px) {
    .header {
        padding-left: 24px;
        padding-right: 24px;
        grid-template-columns:-webkit-max-content -webkit-max-content;
        grid-template-columns:max-content max-content;
        justify-content: space-between
    }
}

@media (max-width: 736px) {
    .header__logo {
        z-index: 1
    }
}

@media (min-width: 737px) {
    .header__logo {
        align-self: start
    }
}

@media (max-width: 736px) {
    .header__menu {
        position: absolute;
        top: 0;
        right: 0;
        left: 0
    }
}

@media (min-width: 737px) {
    .header__menu {
        align-self: center
    }
}

.logo {
    display: grid;
    -moz-column-gap: 8px;
    column-gap: 8px;
    grid-template-columns:-webkit-min-content 1fr;
    grid-template-columns:min-content 1fr;
    line-height: 1
}

.logo__image {
    width: 40px;
    height: 44px
}

@media (min-width: 737px) {
    .logo__image {
        grid-row: span 2
    }
}

.logo__title {
    margin: 0;
    letter-spacing: -.03em;
    font-weight: 700;
    font-size: 20px;
    color: #526b61
}

@media (max-width: 736px) {
    .logo__title {
        align-self: center
    }
}

@media (min-width: 737px) {
    .logo__title {
        align-self: end
    }
}

.logo__tagline {
    margin: 0;
    color: #8495F6;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-size: 12px
}

@media (max-width: 736px) {
    .logo__tagline {
        display: none
    }
}

@media (min-width: 737px) {
    .logo__tagline {
        align-self: center
    }
}

.invisible-link {
    text-decoration: none;
    color: #EC8C79
}

@media (max-width: 736px) {
    .menu {
        display: grid
    }

    .menu__button {
        z-index: 1;
        display: block;
        margin: 24px 16px 0 0;
        padding: 0;
        border: 0;
        background-color: transparent;
        justify-self: end
    }
}

@media (min-width: 737px) {
    .menu__button {
        display: none
    }
}

@media (max-width: 736px) {
    .menu__icon {
        stroke: var(--basic-black)
    }

    .menu__icon:hover {
        stroke: var(--special-neutral)
    }

    .menu__button--open .menu__icon-cross, .menu__icon, .menu__icon-menu {
        display: block
    }

    .menu__button--open .menu__icon-menu, .menu__icon-cross {
        display: none
    }
}

.menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 12px
}

@media (max-width: 736px) {
    .menu__list {
        display: none;
        row-gap: 8px;
        padding-top: 12px;
        padding-bottom: 22px;
        padding-left: 64px;
        box-shadow: 0 50vh 0 50vh var(--special-dark-10a);
        background-color: var(--basic-white)
    }

    .menu__list--open {
        display: grid;
        background-color: white
    }
}

@media (min-width: 737px) {
    .menu__list {
        display: grid;
        grid-auto-flow: column;
        -moz-column-gap: 8px;
        column-gap: 8px
    }
}

.menu__item {
    letter-spacing: .02em;
    text-transform: uppercase
}

.menu__link {
    color: var(--special-extra-dark)
}

.menu__link[href]:hover {
    color: var(--special-dark)
}

.menu__link--current {
    color: var(--basic-black);
    text-decoration: none;
    font-weight: 700;
    font-family: 'Dewi Expanded', sans-serif
}

.menu__link--inactive {
    color: var(--basic-semi-light)
}

.main {
    min-height: 600px;
    background-color: var(--basic-white);
    padding: 40px 20px;
    flex: 1
}

.footer {
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: center
}

.footer__list {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    display: grid;
    grid-template-columns:repeat(3, 250px);
    grid-row-gap: 10px;
    grid-column-gap: 50px
}

@media (min-width: 1050px) {
    .footer__list {
        grid-column-gap: 100px
    }
}

@media (min-width: 1200px) {
    .footer__list {
        grid-column-gap: 200px
    }
}

@media (min-width: 1450px) {
    .footer__list {
        grid-column-gap: 300px
    }
}

@media (max-width: 900px) {
    .footer__list {
        grid-template-columns:250px 250px
    }

    .footer__list__item:nth-child(3) {
        grid-column: 1/2
    }

    .footer__list__item:nth-child(4) {
        grid-column: 2/3;
        grid-row: 2/3
    }
}

@media (max-width: 610px) {
    .footer__list {
        display: flex;
        flex-direction: column
    }
}

@media (min-width: 901px) {
    .footer__list__item:nth-child(4) {
        grid-column: 3/4
    }
}

.footer__list__item__text {
    margin: 0
}

.carousel-container {
    width: 800px;
    margin: 50px auto;
    position: relative
}

@media (max-width: 1000px) {
    .carousel-container {
        width: 600px
    }
}

@media (max-width: 800px) {
    .carousel-container {
        width: 400px
    }
}

@media (max-width: 600px) {
    .carousel-container {
        width: 300px
    }
}

.inner-carousel {
    width: 100%;
    height: 300px;
    overflow: hidden
}

@media (max-width: 600px) {
    .inner-carousel {
        height: 150px
    }
}

.track {
    display: inline-flex;
    height: 100%;
    transition: transform .2s ease-in-out
}

.card-container {
    width: 200px;
    height: 100%;
    flex-shrink: 0;
    padding-right: 10px
}

@media (max-width: 600px) {
    .card-container {
        width: 100px;
        height: 150px
    }
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    padding: 10px;
    font-size: 18px;
    border-radius: 20px
}

.card a {
    color: #526b61
}

.card:hover {
    background-color: #526b61;
    cursor: pointer
}

.card:hover, .card:hover a {
    color: #e9eaeb
}

@media (max-width: 600px) {
    .card {
        font-size: 14px
    }
}

.slider__nav button {
    position: absolute;
    top: 50%;
    transform: translatey(-50%);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    outline: 0;
    border: 0;
    cursor: pointer;
    background-position: center;
    background-size: 120%;
    background-color: white
}

@media (max-width: 600px) {
    .slider__nav button {
        width: 20px;
        height: 20px
    }
}

.slider__nav .prev {
    left: -80px;
    display: none;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E")
}

@media (max-width: 600px) {
    .slider__nav .prev {
        left: -30px
    }
}

.slider__nav .prev.show {
    display: block
}

.slider__nav .next:hover, .slider__nav .prev.show:hover {
    background-color: #526b61
}

.slider__nav .next {
    right: -80px;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E")
}

@media (max-width: 600px) {
    .slider__nav .next {
        right: -30px
    }
}

.slider input[name=slide_switch], .slider__nav .next.hide {
    display: none
}

.block_1 {
    display: grid;
    grid-template-columns:50% 50%;
    margin-bottom: 20px
}

@media (min-width: 1200px) {
    .block_1 {
        margin-left: 50px;
        margin-right: 50px
    }
}

@media (min-width: 1400px) {
    .block_1 {
        margin-left: 100px;
        margin-right: 100px
    }
}

@media (min-width: 1600px) {
    .block_1 {
        margin-left: 200px;
        margin-right: 200px
    }
}

.wrapper_banner_small {
    display: flex;
    flex-direction: row;
    justify-content: center
}

.banner_small {
    max-height: 550px
}

@media (max-width: 450px) {
    .banner_small {
        display: none
    }
}

@media (max-width: 1073px) {
    .banner_small {
        max-height: 400px
    }
}

@media (max-width: 852px) {
    .banner_small {
        max-height: 350px
    }
}

@media (max-width: 600px) {
    .banner_small {
        max-height: 250px
    }
}

.wrapper_slogan {
    display: flex;
    flex-direction: column;
    justify-content: right;
    padding-left: 120px;
    max-width: 549px
}

@media (max-width: 743px) {
    .wrapper_slogan {
        padding-left: 60px
    }
}

@media (max-width: 622px) {
    .wrapper_slogan {
        padding-left: 40px
    }
}

@media (max-width: 450px) {
    .wrapper_slogan {
        grid-column: 1/3;
        text-align: center
    }
}

.slogan {
    color: #526b61;
    font-size: 60px;
    font-weight: bolder;
    line-height: 1.2;
    padding: 10px 0;
    margin: 0
}

@media (max-width: 1073px) {
    .slogan {
        font-size: 45px
    }
}

@media (max-width: 852px) {
    .slogan {
        font-size: 35px
    }
}

@media (max-width: 600px) {
    .slogan {
        font-size: 24px
    }
}

.link_button {
    display: block;
    background-color: #b0c4de;
    margin: 20px auto 10px;
    text-align: center;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    font-size: 30px;
    font-weight: bolder;
    white-space: nowrap;
    text-decoration: none;
    color: #526b61;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 2px 2px #526b61
}

@media (max-width: 1073px) {
    .link_button {
        font-size: 25px
    }
}

@media (max-width: 600px) {
    .link_button {
        font-size: 20px
    }
}

@media (max-width: 550px) {
    .link_button {
        padding: 5px 10px
    }
}

.link_button:hover {
    color: white
}

.link_button:active {
    box-shadow: 2px 2px white
}

.wrapper_banner_big {
    width: 90%;
    max-width: 1100px;
    margin: 10px auto
}

.banner_big {
    width: 100%
}

.form_main {
    display: grid;
    grid-template-columns:45% 45%;
    grid-column-gap: 10%
}

@media (max-width: 600px) {
    .form_main {
        display: flex;
        flex-direction: column;
        justify-content: center
    }
}

.form_main__title {
    margin: 30px auto 10px;
    grid-column: 1/3;
    text-align: center;
    font-weight: 400;
    font-size: 34px;
    color: #526b61;
    max-width: 1200px
}

@media (max-width: 600px) {
    .form_main__title {
        font-size: 24px
    }
}

.form_main p:nth-child(2), .form_main p:nth-child(3) {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-left: auto;
    margin-right: 0
}

.form_main p:nth-child(3) {
    grid-row: 3/4
}

.form_main p:nth-child(4), .form_main p:nth-child(5) {
    grid-column: 2/3;
    margin-left: 0;
    margin-right: auto
}

.form_main p:nth-child(6) {
    grid-column: 1/3;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center
}

.form_main p {
    display: flex;
    flex-direction: column;
    max-width: 400px
}

@media (max-width: 600px) {
    .form_main p:nth-child(n) {
        margin: 10px auto;
        max-width: 400px
    }
}

.form_main p label, .form_order p label {
    font-size: 20px
}

.form_main p input[type=text], .form_order p input[type=text] {
    font-size: 20px;
    padding: 10px 20px;
    border: 2px solid #ddd;
    width: 100%
}

.form_main__button {
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    padding: 10px 20px;
    margin: 30px auto 10px;
    text-align: center;
    background-color: #b0c4de;
    font-size: 30px;
    font-weight: bolder;
    white-space: nowrap;
    text-decoration: none;
    color: #526b61;
    border: 0;
    border-radius: 50px;
    box-shadow: 2px 2px #526b61
}

@media (max-width: 600px) {
    .form_main__button {
        font-size: 20px
    }
}

.form_main__button:active, .form_main__button:focus, .form_main__button:hover {
    outline: 0
}

.form_main__button:hover {
    color: white
}

.form_main__button:active {
    box-shadow: 2px 2px white
}

.slider, .slider > img {
    max-height: 400px;
    height: 100%
}

.slider {
    max-width: 640px;
    width: 100%;
    position: relative;
    padding-top: 400px;
    margin: 30px auto 200px
}

@media (max-width: 641px) {
    .slider {
        max-width: 400px
    }
}

.slider > img {
    position: absolute;
    left: 25%;
    top: 0;
    transition: all .5s
}

.slider label {
    margin: 18px 0 0 18px;
    border: 3px solid #999;
    float: left;
    cursor: pointer;
    transition: all .5s;
    opacity: .6
}

.slider label img {
    display: block;
    height: 160px;
    max-width: 98px
}

@media (max-width: 641px) {
    .slider label img {
        max-width: 70px;
        height: 120px
    }
}

.slider input[name=slide_switch]:checked + label {
    border-color: #666;
    opacity: 1
}

.slider input[name=slide_switch] ~ img {
    opacity: 0;
    transform: scale(1.1)
}

.slider input[name=slide_switch]:checked + label + img {
    opacity: 1;
    transform: scale(1)
}

.product {
    display: flex;
    flex-direction: column;
    min-width: 390px
}

.product__details {
    margin: 20px auto;
    max-width: 640px;
    width: 100%
}

@media (max-width: 641px) {
    .product__details {
        max-width: 400px
    }
}

.product__details__name {
    font-size: 40px;
    margin: 10px 0
}

@media (max-width: 641px) {
    .product__details__name {
        font-size: 30px
    }
}

.product__details__price {
    font-family: 'Dewi Expanded', sans-serif;
    font-weight: bolder;
    font-size: 40px;
    margin: 10px 0
}

@media (max-width: 641px) {
    .product__details__price {
        font-size: 30px
    }
}

.product__details__description_title {
    font-size: 26px
}

@media (max-width: 641px) {
    .product__details__description_title {
        font-size: 22px
    }
}

.product__details__description_text {
    font-size: 22px
}

@media (max-width: 641px) {
    .product__details__description_text {
        font-size: 18px
    }
}

.product__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-gap: 20px;
    font-size: 22px
}

@media (max-width: 641px) {
    .product__form {
        font-size: 18px
    }
}

.product__form input[type=text] {
    font-size: 22px;
    max-width: 200px;
    padding: 10px 5px
}

.item__name a, .product__form__button {
    text-decoration: none;
    font-weight: bolder
}

.product__form__button {
    display: block;
    background-color: #b0c4de;
    text-align: center;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    font-size: 22px;
    white-space: nowrap;
    color: #526b61;
    border-radius: 50px;
    padding: 10px 20px;
    box-shadow: 2px 2px #526b61;
    border: 0
}

@media (max-width: 641px) {
    .product__form__button {
        font-size: 18px
    }
}

.product__form__button:hover {
    color: white
}

.product__form__button:active {
    box-shadow: 2px 2px white
}

.product-list__title {
    text-align: center
}

.list_items {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    margin: 20px auto
}

.item, td {
    border: 2px solid #eee
}

.item {
    width: 200px;
    height: 400px;
    margin: 10px;
    padding: 5px;
    display: grid;
    grid-template-rows:1fr
}

.item:hover, th {
    background-color: #eee
}

.item:hover {
    border: 2px solid #ddd
}

.item:hover .item__price {
    text-decoration: underline
}

.item_image-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: available
}

.item__image {
    max-width: 100%;
    max-height: 300px
}

.item__name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}

.item__name a {
    color: #000
}

.item__name, .item__price {
    padding: 0 5px
}

.cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1050px;
    margin: 10px auto
}

.cart__title {
    text-align: center
}

table, tr td img {
    font-family: 'Dewi', sans-serif;
    font-size: 18px
}

table {
    border-collapse: collapse;
    text-indent: initial;
    border-spacing: 0;
    text-align: center
}

@media (max-width: 880px) {
    table {
        font-size: 14px
    }
}

th {
    padding: 10px 20px
}

@media (max-width: 880px) {
    th {
        padding: 2px 5px
    }
}

td {
    padding: 0 20px
}

@media (max-width: 880px) {
    td {
        padding: 0 5px
    }
}

tr td img {
    max-width: 150px
}

@media (max-width: 880px) {
    tr td img {
        max-width: 75px
    }
}

@media (max-width: 470px) {
    tr td img {
        max-width: 35px;
        max-height: 50px
    }
}

.total {
    font-size: 25px
}

@media (max-width: 880px) {
    .total {
        font-size: 18px
    }
}

.cart__to__order {
    font-family: 'Dewi', sans-serif;
    font-size: 18px;
    margin-left: 10px;
    background-color: #b0c4de;
    border: 0;
    border-radius: 25px;
    color: #526b61;
    box-shadow: #526b61 2px 2px;
    width: 230px;
    padding: 10px 25px;
    text-align: center
}

@media (max-width: 880px) {
    .cart__to__order {
        font-size: 14px
    }
}

.cart__to__order:active {
    box-shadow: white 2px 2px
}

.cart__to__order a {
    text-decoration: none;
    color: #526b61
}

.cart__to__order:hover a {
    text-decoration: none;
    color: white
}

.form_order p, .order {
    display: flex;
    flex-direction: column
}

.order {
    justify-content: center;
    align-content: center
}

.order-info {
    font-size: 20px
}

.form_order, .order-info {
    max-width: 450px;
    margin: 0 auto
}

.form_order p {
    max-width: 450px
}

@media (max-width: 600px) {
    .form_order p:nth-child(n) {
        margin: 10px auto;
        max-width: 400px
    }
}

.button_order {
    margin: 15px auto
}

.errorlist {
    list-style: none;
    color: tomato;
    font-size: .9em
}